[submodule "4dgs-wu/4dgs-wu"]
	path = 4dgs-wu/4dgs-wu
	url = https://github.com/hustvl/4DGaussians
[submodule "4dgs-yang/4dgs-yang"]
	path = 4dgs-yang/4dgs-yang
	url = https://github.com/fudan-zvg/4d-gaussian-splatting.git
